<ion-content>
  <ion-header>
    <ion-toolbar color = opaco>
      <ion-buttons slot="start">
      </ion-buttons>
      <ion-title class = sw-laser>Rank </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let rank of ranks" >
      <ion-label>
        <h2>
          {{rank.username}}
        </h2>
        <p>{{rank.score}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="goQuizz()" expand="block" >
    Voltar
    </ion-button>



  
</ion-content>