.ripple-parent {
  position: relative;
  overflow: hidden;
  color: #ffc500
}

.info-btn{ font-family: SoloistTitle !important;
  --color: #ffc500;
  border-color: #ffc500;
  border-style: groove;
  border-left: none !important;
  border-right: none !important;
  --background: transparent;
  position: absolute;
  top: 90%;
    left: 0%;
  font-size: smaller;
  border-radius: 20px;
}

.trailer-btn{
  font-family: SoloistTitle !important;
  --color: #ffc500;
  border-color: #ffc500;
  border-style: groove;
  border-left: none !important;
  border-right: none !important;
  --background: transparent;
  position: absolute;
  right: 0%;
    top: 90%;
  font-size: smaller;
  border-radius: 20px;
}


.serie-card{
  position: absolute;
  top: 12%;
  left: 10%;
  ion-card {
    transform: translate(-5%, -25%);
    text-align: left;
    background: #000000;
    object-fit: fill;
    border: solid 1px #303030;
    margin: 5% 5% 10% 5%;
    overflow: visible;
    position: relative;

    ion-img {
      height: 130px;
      width: 100%;
      object-fit: cover;
      border: solid 2px #ffc500;
      box-shadow: 2px -2px 20px yellow;
      border-radius: 5%;
    }
    ion-icon {
      position: absolute;
      top: 1%;
      left: 90%;
      width: 30px;
      height: 20px;
    }

    ion-card-header{
      padding: 0px 0px 0px 1%;
    }
    ion-card-title {
      font-size:large;
      -webkit-text-stroke-color: #ffc500;
    }
  
  
  }
}

.text{
  text-align: left;
  color: white;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-left: -10px;
  margin-top: -15px;
  margin-bottom: 20px;
}
  
  


