
<app-sw-header [namePage] = "'Séries'" [info] = "false"></app-sw-header>
<ion-content>
  <div class="ion-padding">  <!--INICIO DIV GERAL-->
    <ion-card>
      <ion-img src="../../../assets/image/Series/bad-batch.jfif"></ion-img>
        <ion-card-title>Bad Batch</ion-card-title>
          <ion-card-content>
            Em 'Star Wars: The Bad Batch", acompanhamos um grupo de ex-soldados das guerras clônicas 
            tentando encontrar o seu lugar na galáxia após a ascensão do Império <a href="https://www.imdb.com/title/tt12708542/">Saiba Mais</a> <br>
            <ion-button class="botao" href="https://www.youtube.com/watch?v=BsOmYpP4UDU">
              Trailer
            </ion-button>
            <ion-button class="botao" href="https://www.disneyplus.com/pt-br/series/star-wars-os-malfeitos/4gMliqFxxqXC">
              Disney +Plus            
            </ion-button>
          </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="../../../assets/image/Series/mandalorian.jpg"></ion-img>
        <ion-card-title>The Mandalorian</ion-card-title>
          <ion-card-content>
            Em The Mandalorian, Din Djarin (Pedro Pascal) é um guerreiro solitário que trabalha
            como caçador de recompensa. Ele embarca numa jornada pelos territórios esquecidos da galáxia,
            logo após a queda do Império e antes da criação da temida Primeira Ordem. <a href="https://www.imdb.com/title/tt8111088/">Saiba Mais</a> <br>
            <ion-button class="botao" href="https://www.youtube.com/watch?v=UxGSW47NDck">
              Trailer
            </ion-button>
            <ion-button class="botao" href="https://www.disneyplus.com/pt-br/series/the-mandalorian/3jLIGMDYINqD">
              Disney +Plus            
            </ion-button>
          </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="../../../assets/image/Series/cloneWars.jpg"></ion-img>
        <ion-card-title>Star Wars the clone wars</ion-card-title>
          <ion-card-content>
            Os cavaleiros Jedi continuam lutando para manter a ordem diante da Guerra dos Clones. 
            Sistemas inteiros são eliminados, enquanto Yoda e Obi-Wan Kenobi lideram um exército contra a força do Lado Sombrio.
            <a href="https://www.imdb.com/title/tt1185834/?ref_=nv_sr_srsg_5">Saiba Mais</a> <br>
            <ion-button class="botao" href="https://www.youtube.com/watch?v=ZLW2jkd6E7g">
              Trailer
            </ion-button>
            <ion-button class="botao" href="https://www.disneyplus.com/pt-br/movies/star-wars-the-clone-wars/AVmv1ulT1nQW">
              Disney +Plus            
            </ion-button>
          </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="../../../assets/image/Series/resistencia.jpeg"></ion-img>
        <ion-card-title>Star Wars A Resistência</ion-card-title>
          <ion-card-content>
            Kazuda Xiono, um jovem piloto da Nova República, é recrutado pela Resistência para espionar a Primeira Ordem, uma ameaça crescente na galáxia. 
            Ao longo de sua missão, Kazuda conta com a ajuda do comandante Poe Dameron e precisa, ainda, enfrentar a poderosa figura da Capitã Phasma.
            <a href="https://www.imdb.com/title/tt8336340/">Saiba Mais</a> <br>
            <ion-button class="botao" href="https://www.youtube.com/watch?v=m7Pls-vYWwM">
              Trailer
            </ion-button>
            <ion-button class="botao" href="https://www.disneyplus.com/pt-br/series/star-wars-a-resistencia/FQwsUthRSbnp">
              Disney +Plus            
            </ion-button>
          </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img src="../../../assets/image/Series/rebels.jpeg"></ion-img>
        <ion-card-title>Star Wars Rebels </ion-card-title>
          <ion-card-content>
            A série acompanha um grupo de rebeldes que vivem a bordo da nave estelar Fantasma, que lutam contra o Império Galáctico. 
            ... A série foi criada por Dave Filoni, Simon Kinberg, e Carrie Beck e dublada por Freddie Prinze Jr.
            Taylor Gray, Vanessa Marshall, Steve Blum, Tiya Sircar, David Oyelowo, e Jason Isaacs.
            <a href="https://www.imdb.com/title/tt2930604/">Saiba Mais</a> <br>
            <ion-button class="botao" href="https://www.youtube.com/watch?v=xg5YN3LAGw4">
              Trailer
            </ion-button>
            <ion-button class="botao" href="https://www.disneyplus.com/pt-br/series/star-wars-rebels/64MCZgAzY0Zw">
              Disney +Plus            
            </ion-button>
          </ion-card-content>
    </ion-card>
  </div> <!--FIM DIV GERAL-->
  
  <div class="rodape">
    <div>
    <a>TM & LucasFilm Ltd. All Rights Reserved</a><br><br>
    <a href="https://disneytermsofuse.com/">Term of Use</a><br><br>
    <a href="https://support.disney.com/hc/pt">Additional Content Information</a><br><br>
    <a href="https://privacy.thewaltdisneycompany.com/en/">Privacy Policy</a><br><br>
    <a href="https://privacy.thewaltdisneycompany.com/en/for-parents/childrens-online-privacy-policy/">Children's Online Privacy Policy</a><br><br>
    <a href="https://www.shopdisney.com/franchises/star-wars/?CMP=SYN-Dcom&att=StarWars_Footer_Store">Star Wars at shopDisney</a><br><br>
    <a href="http://preferences-mgr.truste.com/?type=starwars&affiliateId=115">Interes-Based Ads</a><br><br>
    <a href="https://privacy.thewaltdisneycompany.com/en/dnsmi/">Do not Sell My Info</a><br><br>
   </div>
  </div>


</ion-content>