<app-sw-header [namePage] = "'Filmes'" [type] = "'geral'"></app-sw-header>
<ion-content>
  <div class="film-card">
  <ion-card class="ion-activatable ripple-parent"  *ngFor="let current of currentItem">
    <ion-img src={{current.image}}></ion-img>

    <ion-item >
      
      <div id="youtube-player"></div>
    </ion-item> 
    <ion-card-header>
      <ion-row>
        <ion-col size="auto">
          <ion-card-subtitle class = subtitle >{{current.release_date}}</ion-card-subtitle>
          <ion-card-title class = sw-title>{{current.name}}</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-card-content>

          <ion-label class = "text">
            {{current.resume}}
          </ion-label>
         </ion-card-content>
      </ion-row>
    </ion-card-header>
    
    <ion-button class = "trailer-btn" (click)="youtubePlayerNative(current.trailer)">Trailer</ion-button>
    <ion-button class = "info-btn"  [routerLink]="['/info', 'films', current.id]">Ver Mais</ion-button>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</div>
  
  


</ion-content>