<ion-app>
  <ion-content class="padding" fullscren="true">

    <div class="centro">
      <div class="swTheme" #initLbl [hidden] = "!cardHide">
        <ion-label color="light">Escolha um para continuar</ion-label>
      </div>
    </div>

    <ion-fab>
      <ion-row class=ion-padding-horizontal>
        <ion-col class="ion-padding">
          <ion-fab-button (click)="getCharacter()" color="opaco">
            <ion-img src="/assets/image/people.svg"></ion-img>
          </ion-fab-button>
        </ion-col>
        <ion-col class="ion-padding-vertical">
          <ion-fab-button (click)="getVehicle()" color="opaco">
            <ion-img src="/assets/image/millenniumfalcon.svg"></ion-img>
          </ion-fab-button>
        </ion-col>
        <ion-col class="ion-padding">
          <ion-fab-button (click)="getSpecie()" color="opaco">
            <ion-img src="/assets/image/specie.svg"></ion-img>
          </ion-fab-button>
        </ion-col>
        <ion-col class="ion-padding">
          <ion-fab-button (click)="getPlanet()" color="opaco">
            <ion-img src="/assets/image/death_star.svg"></ion-img>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-fab>


    <!-- Inicialmente Card Vazio, que sera preenchido após imgButton ser clicado-->
    <div #card>
      <ion-card [hidden]="cardHide">
        <ion-img src="{{img}}"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Foi encontrado...</ion-card-subtitle>
          <div class="swTitle">
            <ion-card-title>{{name}}</ion-card-title>
          </div>
        </ion-card-header>
        <ion-card-content> {{resume}} </ion-card-content>
      </ion-card>
    </div>

  </ion-content>
</ion-app>
