

 ion-content {
    --background: #000000 url('/assets/gif/background5.gif') no-repeat center center / cover  ;
}
@font-face {
    font-family: Soloist;
    src: url("/assets/fonts/soloist/soloisttitle1.ttf");
    position: absolute
}
    .Soloist{
        ion-button{
            h1{
        font-family: Soloist !important;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #ffc500;
        -webkit-text-fill-color: rgba(22, 22, 22, 0);
            }
        }
    }

    .ButtonImg{
        position: absolute;
        display: block;
        ion-img{
         max-width: 75px;
         max-height: auto;
         object-fit:cover;
        }
    }



    // button[ion-fab] {
    //     overflow: visible;
    //     position: relative;

    //     ion-label {
    //         position: absolute;
    //         top: -8px;
    //         right: 40px;

    //         color: white;
    //         background-color: rgba(0,0,0,0.7);
    //         line-height: 24px;
    //         padding: 4px 8px;
    //         border-radius: 4px;
    //     }
    //     contain: layout;
    // }
     
