<app-sw-header [namePage]="'Random'" [info]="false"></app-sw-header>
<ion-content class="padding" fullscren="true">


  <!-- Plano Inicial, visivel somente enquanto não foi selecionada nenhuma opção -->
  <div class="center" *ngIf="!showCard; else cardInfo">
    <div class="fade sw-title">
      <ion-label>Escolha um para continuar</ion-label>
    </div>
    <!-- FABs com imagens respectivas ao que será gerado -->
    <ion-fab>
      <ion-row>
        <ion-col class="ion-padding">
          <!-- Personagem aleatório -->
          <ion-fab-button name="characters" (click)="getCharacter()" color="opaco">
            <ion-img src="/assets/image/people.svg"></ion-img>
          </ion-fab-button>
        </ion-col>
        <ion-col class="ion-padding">
          <!-- Veículo aleatório -->
          <ion-fab-button name="vehicles" (click)="getVehicle()" color="opaco">
            <ion-img src="/assets/image/millenniumfalcon.svg"></ion-img>
          </ion-fab-button>
        </ion-col>
        <ion-col class="ion-padding">
          <!-- Especie aleatória -->
          <ion-fab-button name="species" (click)="getSpecie()" color="opaco">
            <ion-img src="/assets/image/specie.svg"></ion-img>
          </ion-fab-button>
        </ion-col>
        <ion-col class="ion-padding">
          <!-- Planeta aleatória -->
          <ion-fab-button name="planets" (click)="getPlanet()" color="opaco">
            <ion-img src="/assets/image/death_star.svg"></ion-img>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-fab>
  </div>
  <!-- ******************************************* -->
  <!-- Segundo Plano, visivel quando uma das opções anteriores foram selecionadas -->
  <ng-template #cardInfo>
    <ion-content fullscreen scroll-y= "true">
      <div class="blurredBackground"></div>
      <div class = 'center'>
      <div class="card-position">
        <ion-img id = 'card' src="{{currentItem.image}}" [routerLink]="['/info', lastGet, currentItem.id]"></ion-img>
      </div>
    </div>
      <ion-col class=info-content>
        <ion-row>
          <ion-label class="subtitle">Foi Encontrado</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="sw-laser">{{currentItem.name}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="text">{{currentItem.resume}}</ion-label>
        </ion-row>
        <ion-row >
            <ion-col>
              <ion-fab>
                <ion-fab-button color="light" (click)="previousRequest()" [disabled]="this.requests.length == 1">
                  <ion-icon name="caret-back-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-col>
  
            <ion-col>
              <!-- FABs para trocar qual tipo de informação será gerado -->
              <ion-fab>
                <ion-fab-button color="light">
                  <ion-icon name="swap-vertical-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="top">
                  <!-- Personagem aleatório -->
                  <ion-fab-button color="opaco" (click)="getCharacter()">
                    <ion-img src="/assets/image/people.svg"></ion-img>
                  </ion-fab-button>
                </ion-fab-list>
                <ion-fab-list side="end">
                  <!-- Veículo aleatório -->
                  <ion-fab-button color="opaco" (click)="getVehicle()">
                    <ion-img src="/assets/image/millenniumfalcon.svg"></ion-img>
                  </ion-fab-button>
                </ion-fab-list>
                <ion-fab-list side="bottom">
                  <!-- Especie aleatório -->
                  <ion-fab-button color="opaco" (click)="getSpecie()">
                    <ion-img src="/assets/image/specie.svg"></ion-img>
                  </ion-fab-button>
                </ion-fab-list>
                <ion-fab-list side="start">
                  <!-- Planeta aleatório -->
                  <ion-fab-button color="opaco" (click)="getPlanet()">
                    <ion-img src="/assets/image/death_star.svg"></ion-img>
                  </ion-fab-button>
                </ion-fab-list>
              </ion-fab>
            </ion-col>
  
            <!-- Gera novas informações do mesmo tipo no card -->
            <ion-col>
              <ion-fab>
                <ion-fab-button (click)="nextRequest()" color="light">
                  <ion-icon name="caret-forward-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-col>
       
        </ion-row>

      </ion-col>




      <!-- ********************************************** -->





    </ion-content>
  </ng-template>

</ion-content>
