ion-content {
  --background: #000000 url('/assets/gif/background5.gif') no-repeat center center / cover;
  overflow: visible;
}

@font-face {
  font-family: Theme;
  src: url("/assets/fonts/soloist/soloisttitle1.ttf");
  position: absolute
}

@font-face {
  font-family: Title;
  src: url("/assets/fonts/soloist/soloistlaser1.ttf");
  position: absolute
}

ion-card {
  
  box-shadow: 5px 5px 25px #ffc500;
  border-color: #ffc500;
  border-width: -1em;
  border-style: outset;
  overflow: visible;
  position: absolute !important;
  background-color: #000000;
  margin-top: 50%;
 

  padding-bottom: 50px;
  ion-img {
    max-height: 100%;
    max-width: 100%;
    height: 190px;
    width: auto;
    object-fit: fill; // ou contain
  }

  ion-card-content {
    color: #ffffff;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  
   

  }

}



.ripple-parent {
  position: relative;
  overflow: hidden;
  color: #ffc4004b;

}


.swTheme {
  font-family: Theme !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;

}

.swTitle {
  font-family: Title !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffc500;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
}



.centro {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
   word-wrap: break-word;
  ion-label {
    font-size: medium;
    color: white;
  }
}


