@charset "UTF-8";

ion-menu-button {
  color: var(--ion-color-primary);
}

ion-menu-itens{
  font-size: xx-large;
  color: #ffc500;
}

ion-toolbar{
  --background:#000000;
  img{
    height: 2.3em;
  }
}

ion-content {
  --background: url('/assets/gif/background5.gif') no-repeat center center / cover;
}

.battlefront{/*Background do segundo conjunto de slides*/
  background-image: url("../../assets/image/Battlefront.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  width: 80%;
  max-width: 100%;
  height: 100%;
  min-width: 100%;
  margin-top: 30px;
  height: 600px;
}

.botao{
  --background: #ffc500;
  --background-activated: #ffc500;
   font-family: "fonteButton";
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: black;
  font-size:medium;
  position: absolute;
  margin: 75% 28%;
}

.slide{
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-width: 100%;
  flex-direction: column;
  text-align: justify;
}

 slide-p{
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  color: rgb(250, 250, 250);
  margin-top: 0 !important;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.card {
  margin-top: 320px;
  --background: #151515;
  --color: #ffffff;
  text-align: justify;
}

.mandalorian{/*Background Mandalorian*/
  background-image: url("../../assets/image/mandalorian.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-width: 100%;
  height: 500px;
}

.botao-mandalorian{
  --background: #ffc500;
  --background-activated: #ffc500;
   font-family: "fonteButton";
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: black;
  font-size:medium;
  margin-top: 85%;
  margin-left: 10%;
  margin-left: 10%;
}

.slide2 {
  --background:transparent;
  --color: #ffffff;
  text-align: justify;
}

.rodape{
  background-color: rgb(75, 75, 75);
  text-align: center;
}

