<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img class="title" src="../../assets/image/logo.png">
      <img class="title" src="../../assets/image/yoda.png">
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-slides pager="true" [options]="slideOpts" class="ion-padding-top"> <!--Primeiro conjunto de slides-->
          <ion-slide class="slide">
            <ion-img src="../../assets/image/teste.jpg"></ion-img>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
            essentially unchanged.</p>
          </ion-slide>
        
          <ion-slide class="slide">
            <ion-img src="../../assets/image/teste.jpg"></ion-img>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
            essentially unchanged.</p>
          </ion-slide>
        
          <ion-slide class="slide">
            <ion-img src="../../assets/image/teste.jpg"></ion-img>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
            essentially unchanged.</p>
          </ion-slide>
        </ion-slides> <!--Fim do primeiro conjunto de slides-->
      </ion-col><!--FIM COL 1-->

      <ion-col class="battlefront"><!--START COL 2-->
          <ion-button class="botao">
            Comprar 
          </ion-button>
           <ion-slides pager="true" [options]="slideOpts2"> <!--Segundo conjunto de slides-->
  
             <ion-slide>
              <ion-card class="card">
                <ion-img src="../../assets/image/teste.jpg"></ion-img>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem </p>
               </ion-card>
             </ion-slide>
  
             <ion-slide>
               <ion-card class="card">
                <ion-img src="../../assets/image/teste.jpg"></ion-img>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem </p>
               </ion-card>
              </ion-slide>
  
              <ion-slide>
                <ion-card class="card">
                  <ion-img src="../../assets/image/teste.jpg"></ion-img>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem </p>
                </ion-card>
              </ion-slide>
  
              <ion-slide>
                <ion-card class="card">
                  <ion-img src="../../assets/image/teste.jpg"></ion-img>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                     Lorem </p>
                </ion-card>
              </ion-slide>
           </ion-slides> <!--Fim do segundo conjunto de slides-->
      </ion-col><!--FIM COL 2-->

      <ion-col size="12" class="mandalorian"><!--START COL 3-->

        <ion-button class="botao-mandalorian">
          Assistir
        </ion-button>

        <ion-button class="botao-mandalorian">
          Trailer
        </ion-button>   

      </ion-col><!--FIM COL 3-->
    </ion-row>

    <ion-row><!--START ROW 2-->
      <ion-col size="12"> <!--START COL 4-->

        <h1>Últimas Notícias </h1>

        <ion-slides pager="true" [options]="slideOpts3"> <!--Segundo conjunto de slides-->
  
          <ion-slide>
           <ion-card class="slide2">
             <ion-img src="../../assets/image/republic.jpg"></ion-img>
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem </p>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="slide2">
             <ion-img src="../../assets/image/republic.jpg"></ion-img>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               Lorem </p>
            </ion-card>
           </ion-slide>

           <ion-slide>
             <ion-card class="slide2">
               <ion-img src="../../assets/image/republic.jpg"></ion-img>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                 Lorem </p>
             </ion-card>
           </ion-slide>

           <ion-slide>
             <ion-card class="slide2">
               <ion-img src="../../assets/image/republic.jpg"></ion-img>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem </p>
             </ion-card>
           </ion-slide>
        </ion-slides>
      </ion-col> <!--FIM COL 4-->

      <ion-col size="12"> <!--START COL 5-->

        <h1>Links Rápidos </h1>

        <ion-slides pager="true" [options]="slideOpts3"> <!--Segundo conjunto de slides-->
  
          <ion-slide>
           <ion-card class="slide2">
             <ion-img src="../../assets/image/filmes.jpg"></ion-img>
             <h2>Filmes</h2>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="slide2">
             <ion-img src="../../assets/image/filmes.jpg"></ion-img>
              <h2>Series</h2>
            </ion-card>
           </ion-slide>

           <ion-slide>
             <ion-card class="slide2">
               <ion-img src="../../assets/image/filmes.jpg"></ion-img>
               <h4>Informações</h4>
             </ion-card>
           </ion-slide>

           <ion-slide>
             <ion-card class="slide2">
               <ion-img src="../../assets/image/filmes.jpg"></ion-img>
               <h2>Pesquisa</h2>
             </ion-card>
           </ion-slide>
        </ion-slides>
      </ion-col> <!--FIM COL 5-->
    </ion-row><!--FIM ROW 2-->
  </ion-grid>

<h5 class="rodape">Todos os direitos reservados</h5>
</ion-content>
