.bgcolor {
    background: #ffc500;
   color: hsl(0, 0%, 0%);
    border-right: 1px solid #000000;
    
  }
  
  .sw-title{
    -webkit-text-stroke-color: #000000;
    -webkit-text-fill-color: transparent;
    font-size: clamp(0.4em, 0.6em + 1vw, 1em);
  }
  ion-col {
    border: 1px solid #ffc500;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }

  .sw-text{
    font-family: LemonMilk !important;
    color: whitesmoke;
    -webkit-line-clamp: 0;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

