ion-content {
  --background: #000000 url('/assets/gif/background5.gif') no-repeat center center / cover;
}

ion-toolbar{
  --background: #000000 url('/assets/gif/background5.gif') no-repeat center center / cover;
}

ion-item{
  --background: #000000 url('/assets/gif/background5.gif') no-repeat center center / cover;
  --border-color: #494747;
}
ion-segment-button{
  box-shadow: -2px 5px 25px #ffc500;
  border-color: #ffc500;
  border-width: -6em;
  border-style: ridge;
  background: transparent! important;
  --indicator-color: #ffc500 !important;

}

@font-face {
  font-family: Theme;
  src: url("/assets/fonts/soloist/soloisttitle1.ttf");
  position: absolute
}

@font-face {
  font-family: Title;
  src: url("/assets/fonts/soloist/soloistlaser1.ttf");
  position: absolute
}


ion-card {
  box-shadow: -1px 5px -1px #ffc500;
  border-color: #ffc500;
  border-width: -1em;
  border-style: ridge;
  border-left: none !important;
  border-right: none !important;
  overflow: visible;
  position: relative;
  background-color: #000000;
  --background: #000000 url('/assets/gif/background5.gif') no-repeat center center / cover;


  ion-card-title {
    --color: #ffffff
  }

  ion-card-content {
    strong {
      color: aliceblue;
    }

    color: #ffffff
  }


}

.ripple-parent {
  position: relative;
  overflow: hidden;
  color: #ffc4004b;

}

.swTheme {
  font-family: Theme !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffc500;
  -webkit-text-fill-color: transparent;
  font-size:large;
}

.swTitle {
  font-family: Title !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffc500;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
  margin-left: 3%;
}

.swBar {
  font-family: Theme !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffc500;
  -webkit-text-fill-color: transparent;
  font-size: small;

}
.swSub{
  margin-left: 2%;
  font-family: AzonixTitle !important;;
  color: #6a6868;
}

.swText{
  font-family: AzonixTitle !important;
  color: #ffffff;
  -webkit-text-stroke-width: 1px;

}

@font-face {
  font-family: AzonixTitle;
  src: url("/assets/fonts/lemon_milk/LEMONMILK-RegularItalic.otf");
  position: absolute
  
} 

.FontTitle{
  font-family: AzonixTitle !important;
  font-size: xx-large;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffc500;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

img {
  object-fit: resize;
}