<ion-content>

<!-- Cabeçalho  -->
<app-sw-header [namePage] = "'Info'"></app-sw-header>


  <!-- Avatar selecionado  -->
   <img
  src="{{currentItem.image}}"> <br> 
  <ion-card >
    
<!-- Breve Descrição  -->

    <ion-card-subtitle class = "swSub">Sabia disso?</ion-card-subtitle>
    <ion-card-title><div class= "swTitle">{{currentItem.name}}</div></ion-card-title>
    <ion-card-content><div class= "swText">{{currentItem.resume}}</div></ion-card-content>
  </ion-card>

  <ion-item lines = black>
    <ion-label><div class = "swTitle" >Saiba Mais</div></ion-label>
  </ion-item>

    <b class = infoTitle>Altura: </b><ion-text class = infoData> 1,09 metro</ion-text><br>
    <b class = infoTitle>Massa: </b><ion-text class = infoData> 32 quilogramas</ion-text><br>
    <b class = infoTitle>Gênero: </b><ion-text class = infoData> Programação masculina</ion-text><br>
    <b class = infoTitle>Cor do sensor:</b><ion-text class = infoData> Vermelho</ion-text>

  


  <!-- Menu de informações -->
  <ion-toolbar>  
      <ion-segment [(ngModel)] = "segmentCard" >
        <ion-segment-button mode = md value="Tech"> <div class= "swBarTech" id = 'Tech'>Técnico</div></ion-segment-button>
        <ion-segment-button mode = md value="Prod"><div class= "swBarTech" id = 'Prod'>Produção</div></ion-segment-button>
        <ion-segment-button mode = md value="Pol"><div class= "swBarTech" id = 'Pol'>Ideología</div></ion-segment-button>    
      </ion-segment>
    <ion-ripple-effect ></ion-ripple-effect>
  </ion-toolbar>

  <ion-content>
    <ion-card *ngIf = "segmentCard === 'Tech'">
      <ion-card-title></ion-card-title>
        <ion-card-content style="text-align: left;">
                              <b class = infoTitle>Altura: </b><ion-text class = infoData> 1,09 metro</ion-text><br>
                              <b class = infoTitle>Massa: </b><ion-text class = infoData> 32 quilogramas</ion-text><br>
                              <b class = infoTitle>Gênero: </b><ion-text class = infoData> Programação masculina</ion-text><br>
                              <b class = infoTitle>Cor do sensor:</b><ion-text class = infoData> Vermelho</ion-text>
        </ion-card-content> 
    </ion-card>
      <ion-card *ngIf = "segmentCard === 'Prod'">
        <ion-card-title></ion-card-title>
          <ion-card-content style="text-align: left;">  
                              <b class = infoTitle>Planeta de origem: </b> <ion-text class = infoData> Naboo</ion-text><br>
                              <b class = infoTitle>Data de destruição: </b><ion-text class = infoData> Durante o incidente de Carida (reconstruído)</ion-text><br>
                              <b class = infoTitle>Fabricante: </b><ion-text class = infoData> Indústrias Autômato</ion-text><br>
                              <b class = infoTitle>Modelo: </b><ion-text class = infoData> Droide astromecânico série R2</ion-text><br>
                              <b class = infoTitle>Classe: </b><ion-text class = infoData> Droide astromecânico</ion-text>
          </ion-card-content>
      </ion-card>
      <ion-card *ngIf = "segmentCard === 'Pol'">
        <ion-card-title></ion-card-title>
          <ion-card-content ><Ul style="margin-bottom: -3%; margin-top: -3%;text-align: left;"> 
                              <li class = infoData>Real de Naboo</li > 
                              <li class = infoData>República Galáctica</li> 
                              <li class = infoData>Ordem Jedi</li >
                              <li class = infoData>Império Galáctico</li> 
                              <li class = infoData>Resistência</li>
                            </Ul> 
          </ion-card-content> 
      </ion-card>

  </ion-content>

</ion-content>