ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu ion-content {
  
  --padding-end: 8px;

  --padding-bottom: 20px;
  
}

ion-menu ion-list {
  padding: 20px 0;
  
}

ion-menu ion-note {
  margin-bottom: 30px;
}

ion-menu ion-list-header,
ion-img{
  max-width: 100%; 
  max-height: 100%;
  width: 70px;
    height: 60px;
    margin-left: 50%;
    transform: translate(-50%, 0);
  
}
ion-menu ion-note {
  padding-left: 10px;
}

ion-menu ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #ffffff);
}

ion-menu ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  
  min-height: 20px;

}
ion-ripple-effect {
  color: yellow;
}

ion-menu ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu ion-item {
  margin-top: 12px;
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  color: #fff;
  
}

ion-menu ion-item.selected {
  background:mix(#ff0,#fff,10%);
  --background:mix(#ff0, #ffffe6, 10%);
  box-shadow:#ff0 0px 0px 20px 2px;
  text-shadow:#FF0 0px 0px 6px,#FF0 0px 0px 10px;
  font-family: Helvetica, Arial, sans-serif;
  border-radius:0px 100px 100px 0px;
  color: black;
}

ion-menu ion-item.selected ion-icon {
  color:black;
  
}

ion-menu ion-item ion-icon {
  
 color: rgb(255, 255, 255)
 
}

ion-menu ion-item ion-label {
  font-weight: 500;
  
}

ion-note {
  display: inline-block;
  font-size: 16px;  

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
