<app-sw-header [namePage] = "'DataBank'" [info] = "false"></app-sw-header>


<ion-content>
  
  <ion-segment scrollable [(ngModel)]="currentFilter" (ionChange)="updateFilter()" mode = md>
    <ion-segment-button  value="characters"> 
      <ion-label >Personagens</ion-label>
    </ion-segment-button>
    <ion-segment-button value="vehicles">
      <ion-label >Veiculos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="planets">
      <ion-label >Planetas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="species">
      <ion-label >Espécies</ion-label>
    </ion-segment-button>
    <ion-segment-button value="films">
      <ion-label >Filmes</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-searchbar  placeholder="Filtrar" [(ngModel)]="currentSearch" (ionChange)="updateFilter()"></ion-searchbar>

  <ion-content>

    <ion-list *ngIf="currentItem.length > 0;">
      <ion-item  class = "ion-activatable ripple-parent" *ngFor="let current of currentItem" color = opaco lines = none [routerLink]="['/info', currentFilter, current.id]">
        <ion-img src="{{current.image}}" slot="start"></ion-img>
        <ion-label class="text">{{current.name}}</ion-label>    
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-content>
