.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .card-position {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform:translate(-50%, -105%);
    ion-img {
        max-height: 100%;
        max-width: 100%;
        height: 322px;
        width: 307px;
        object-fit: fill;
        border: solid 2px #ffc500;
        box-shadow: 2px -2px 20px yellow;
    }
  
  }
  .info-content {
    position: absolute;
    top: 50%;
    left: 5%;
    ion-title{
        font-family: SoloistTitle !important;
        font-size: clamp(0.7em, 1em + .4vw, 1.2em);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #ffc500;
        -webkit-text-fill-color: transparent;
        margin-left: -10%;
    }
    ion-label{
        font-family: LemonMilk !important;   
         font-size: clamp(0.9em, 1em + 0.5vw, 1em);
         position: absolute;
         color: white;
         margin-right: 8%;
     }

      ion-content{
          ion-title{
              font-family: SoloistTitle !important;
          }
          ion-text{
             font-family: LemonMilk !important;
              color: whitesmoke;
          }
    
      }


ion-button{
    font-family: SoloistTitle !important;
    --color: #ffc500;
    border-color: #ffc500;
    border-style:groove;
    border-left: none !important;
    border-right: none !important;
    --background: transparent;
    transform: translate(-15px, 125px);
 }
    
    
  } 

  .text {
    padding-top: 10px;
    padding-right: 20%;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  

ion-card{
    background-color: transparent;
    ion-card-title{
        font-family: LemonMilk !important;
         color: whitesmoke;
     }
     ion-card-content{
        ion-item{
            font-family: Title !important;
            --color: #ffc500;
            border-color: #ffc500;
            border-style:groove;
            border-left: none !important;
            border-right: none !important;
            color: rgb(255, 255, 255);
            --background: black;
        }

        ion-list{
        font-family: Title !important;
        --color: #ffc500;
        border-color: #ffc500;
        border-style:groove;
        color: black;
        background: black;
         }
    }
    ion-radio{
        --color:#ffc500;
        --color-checked: #ffc500;
    }
}

ion-button{
    font-family: SoloistTitle !important;
    --color: #ffc500;
    border-color: #ffc500;
    border-style:groove;
    border-left: none !important;
    border-right: none !important;
    --background: transparent;
 
 }
 
    
        
        