<app-sw-header [namePage]="'Quizz'" [type]="'geral'"></app-sw-header>

<ion-content>
  <div *ngIf="currentQuestion < maxQuestionsNumbers; else resultCard">
    <ion-img src="/assets/gif/StarWarsCrawl.gif"></ion-img>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{questions[currentQuestion].text}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-radio-group [(ngModel)]="selectedAnswer">
            <ion-item *ngFor="let answer of questions[currentQuestion].answers; let i = index;">
              <ion-radio mode="md" slot="start" [value]="i"></ion-radio>
              <ion-label mode="md">{{answer}}</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="nextQuestion()" expand="block" [disabled]="selectedAnswer === null">
      Próxima
    </ion-button>
  </div>

  <ng-template #resultCard>

    <ion-content fullscreen>
      <div class='center'>
        <div class="card-position">
          <ion-img [src]="results[result].img" [alt]="results[result].name"></ion-img>
        </div>
      </div>
      <ion-col class=info-content>
        <ion-row>
          <ion-title class="sw-title">Você é um {{results[result].name}}</ion-title>
        </ion-row>
        <ion-row>
          <ion-label>{{results[result].description}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-button (click)="confirmReset()" expand="full">
            Fazer de novo
          </ion-button>
        </ion-col>
        <ion-col>
            <ion-button [routerLink]="['/quizz/rank']" expand="full">
              Ver Rank
            </ion-button>
          </ion-col>
        </ion-row>
       
      </ion-col>
    </ion-content>  
  </ng-template>
</ion-content>
