ion-content {
    --background: #000000 url('/assets/gif/background5.gif') no-repeat center center / cover;
    overflow: visible;
    
  }

ion-title { 
    color: whitesmoke;
    font-family: LemonMilk !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffc500;
    -webkit-text-fill-color: #000000;
    font-size: big;
    padding: center;
    
}

ion-toolbar { 
    --background: #000000 url('/assets/gif/background5.gif') no-repeat center center / cover;
    overflow: visible;
}

ion-card {

    --background: #000000 url('/assets/gif/background5.gif') no-repeat center center / cover;

    ion-card-title {
      --color: #ffffff
    }
    ion-button {
        background-color: #ffc500;
    --background: #ffc500 url('/assets/gif/background5.gif') no-repeat center center / cover;
    }
}