<ion-header mode=md>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home" (click)="closeModal()" ></ion-back-button>
    </ion-buttons>
    <ion-title class=sw-laser>Usuário</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-title color="primary">
    <h4>Você é um verdadeiro fã de Star Wars?</h4>
  </ion-title>
  <div class="user">
    <ion-card>
      <ion-img src="/assets/image/Home/Home/yoda.png"></ion-img>
      <ion-item lines = none>
        <ion-label position="floating"> Digite seu nome/apelido</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-button class = "btn-quizz" (click)="goQuizz()" expand="block" [disabled]="username == '' ">
        Iniciar
      </ion-button>
      <ion-button class="btn-rank" (click)="goRank()" expand="block">
        Ver Rank
      </ion-button>
    </ion-card>
  </div>
</ion-content>