.user {
  position: absolute;
  top: 50%;
  left: 50%;

  ion-card {
    overflow: visible;
    transform: translate(-52%, -50%);
    background-color: #0a0a0a;
    ;
    border-left: none !important;
    border-right: none !important;
    border: solid 2px #ffc500;
    box-shadow: 2px -2px 20px yellow;
    position: relative;
    height: 170px;
    width: 245px;

    ion-img {
      max-width: 150px;
      position: absolute;
      transform: translate(25%, -60%);
    }

    ion-item {
      text-align: left;
      overflow: visible;
      position: relative;
      margin-top: 50px;
      border-bottom: white solid 2px;
      --border-radius: 50px;
    border-radius: 20px;
      font-family: SoloistTitle !important;
      --color: #ffc500;
      color: rgb(255, 255, 255);
      --background: #1c1b1b
    }

    .btn-quizz {

      font-family: SoloistTitle !important;
      --color: #ffc500;
      border-color: #ffc500;
      border-style: groove;

      color: rgb(255, 255, 255);
      --background: black;
      position: absolute;
      transform: translate(120%, 100%);

    }

    .btn-rank {

      font-family: SoloistTitle !important;
      --color: #ffc500;
      border-color: #ffc500;
      border-style: groove;

      color: rgb(255, 255, 255);
      --background: black;
      position: absolute;
      transform: translate(-20%, 100%);

    }
  }
}


.sw-laser {
  font-size: clamp(1.5em, 100% + 2vw, 2em);
}

ion-toolbar {
  --background: black
}

ion-title {
  h4 {
    font-family: LemonMilk !important;
    font-weight: 800;
    text-align: center;
    margin: 10px 0px 30px;
    font-size: clamp(0.5em, 1.1em + 1vw, 2.5em);
    white-space: break-spaces;
  }


}