/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.loading{
    --background: #00000000;
}

ion-content {
  --background: #000000 url('/assets/gif/background5.gif') no-repeat center center / cover;
  overflow: visible;
  
}   

@font-face {
    font-family: SoloistTitle;
    src: url("/assets/fonts/soloist/soloisttitle1.ttf");
    position: absolute
  }

@font-face{
  font-family: Soloist3d;
  src: url("/assets/fonts/soloist/soloist3d.ttf")
}
  
  @font-face {
    font-family: SoloistLaser;
    src: url("/assets/fonts/soloist/soloistlaser1.ttf");
    position: absolute
  }
  
  .sw-title {
    font-family: SoloistTitle !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
  
  }
  
  .sw-laser {
    font-family: SoloistLaser !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffc500;
    -webkit-text-fill-color: transparent;
    font-size: xx-large;
  }
  
  .subtitle {
    padding: 0px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: var(--ion-color-step-600, #424242);
  }
  
  .text {
    font-size: clamp(0.9em, 0.9em + 0.9vw, 2em);
    font-weight: 600;
    color: var(--ion-color-step-600, #ffffff);
    overflow: hidden;
    display: -webkit-box;
  }



 
