<app-sw-header [namePage]="'Home'" [type]="'geral'"></app-sw-header>
<ion-content>

  <div class="internal-page-slide">
  <ion-col>
    <ion-row>
      <ion-title class="sw-title"> VISITE </ion-title>
    </ion-row>
    <ion-row>
      <ion-slides [options]="slideOpts" color="opaco">
        <ion-slide *ngFor="let page of internalPagesSlidesInfo">
          <ion-card [routerLink]="[page.router]">
            <ion-card-content>
              <ion-img [src]="page.image"></ion-img>
              <h2 class="sw-laser"> <b>{{page.name}} </b></h2>
              <h4 class="text">{{page.description}}</h4>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-col>
</div>

<div class="game-slide">
  <ion-col>
    <ion-row>
      <ion-img src="/assets/image/Home/Home/ImageGame/gametest.png"></ion-img>
    </ion-row>
   
    <ion-col>
      <ion-row>
        <ion-title class="sw-title">GAMES</ion-title>
      </ion-row>
    </ion-col>

    <ion-row>
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let game of gameSlidesInfo">
          <ion-card (click)="openPage(game.router)">
            <ion-card-content>
              <ion-img [src]="game.image"></ion-img>
              <h2 class="sw-laser"> <b>{{game.name}} </b></h2>
              <h4 class="text">{{game.description}}</h4>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>

    </ion-row>
  </ion-col>

</div>

<ion-col>
  <ion-row>
    <ion-title class="sw-title"> Extras </ion-title>
  </ion-row>
</ion-col>

<div class="extra-slide">
  <ion-col >
    <ion-row>
      <ion-slides [options]="slideOptsExtras" color="opaco">
        <ion-slide *ngFor="let extra of extraSlidesInfo">
          <ion-card (click)="openPage(extra.router)">
            <ion-card-content>
              <ion-img [src]="extra.image"></ion-img>
              <h2 class="sw-laser"> <b>{{extra.name}} </b></h2>
              <h4 class="text">{{extra.description}}</h4>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-col>

</div>

   

</ion-content>
