.internal-page-slide{
  margin-bottom: -20%;

   ion-title{
    font-size: x-large
  
    }
  
   
    ion-card {
    min-height: 100%;
    background: #0000;
    object-fit: fill;
    border: 1px solid #00000000;
    margin: 5% 5% 10%;
    overflow: visible;
    position: relative;

      ion-img {
        min-height: 130px;
        min-width: 100%;
        object-fit: cover;
        border: solid 2px #ffc500;
        box-shadow: 2px -2px 20px yellow;
        border-radius: 5%;
        margin-top: 5%;
      }
    }

    
}

.game-slide{
  background-image: url('/assets/gif/Fundo.png');
  
  ion-img{
    margin-top: -10%;
    position: center center;
    min-width: 100%;
  }

  h2{
    margin-top: 5px;
    font-size: x-large;
  }
   
    ion-card {
    background: #0000;
    object-fit: fill;
    border: 1px solid #00000000;
    margin: 5% 5% 10%;
    overflow: visible;
    position: relative;
    top: -10%;
    margin-bottom: -5%;
  
      ion-img {
        position: center center;
        min-height: 306px;
        min-width: 306px;
        object-fit: cover;
        top: -5%;
        border-radius: 5%;
       
      }

      ion-icon {
        position: absolute;
        top: 1%;
        left: 90%;
        width: 30px;
        height: 20px;
      }

    }

  
}

 .extra-slide{

  ion-title{
    font-size: x-large
  
    }
  
  h2{
      margin-top: 5px;
      font-size: x-large;
   }
  
    ion-card {
    height: 100%;
    background: #0000;
    object-fit: fill;
    border: 1px solid #00000000;
    margin: 5% 5% 10%;
    overflow: visible;
    position: relative;

      ion-img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 5%;
      }
    }

 }


.sw-title{
  font-family: Soloist3d !important;
  text-align: center;
}




